.sobre-main{
    width: 80%;
    height: 75vh;
}

.sobre-container{
    width: 100%;
    height: 100%;
    background-color: #3d372dea;
    border-radius: 2vw;
    box-shadow: 0 0 10px #00000080;
    padding: 0 1% 0 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    gap: 7vw;
}

.about, .creditos{
    height: 90%;
    padding: 1.5vw;
}

.about{
    width: 70%;
}

.about h1, .creditos h2{
    color: #e1e1e1;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.about p{
    color: #e1e1e1;
    font-size: 1.12rem;
    line-height: 2rem;
    text-align: left;
    text-indent: 2rem;
    margin-bottom: 1%;
}

.creditos{
    color: #e1e1e1;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.creditos a{
    color: #f0e6d2;
    text-decoration: none;
    transition: all 0.3s ease;
}

.creditos ul{
    list-style: none;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: right;
    text-decoration: none;
    font-style: italic;
}

.creditos ul li{
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
}

.creditos ul li:hover{
    transform: scale(1.05);
}

.creditos ul li a:hover{
    font-weight: 700;
}

.creditos ul li strong{
    font-style: normal;
    font-weight: 800;
}

.creditos h2{
    margin-bottom: 1rem;
}