.sobre-main{
    width: 80%;
    height: auto;
    padding-bottom: 3vh;
}

.sobre-container{
    width: 100%;
    min-height: 100%;
    background-color: #3d372dea;
    border-radius: 2vw;
    box-shadow: 0 0 10px #00000080;
    padding: 0 1% 0 1%;
    overflow: hidden;
}

.about, .creditos{
    height: auto;
    padding: 1.5vw;
}

.about h1, .creditos h2{
    color: #e1e1e1;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.about p{
    color: #e1e1e1;
    font-size: 1.14rem;
    line-height: 2rem;
    text-align: justify;
    text-indent: 2rem;
    margin-bottom: 1%;
}

.about p:last-child{
    margin-bottom: 0;
} 

.about img{
    width: 25%;
    height: auto;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 0 10px #00000080;
}

.about img:nth-of-type(odd){
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
}

.about img:nth-of-type(even){
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.creditos{
    color: #e1e1e1;
    width:100%;
    margin-top: 3rem; 
    padding-top: 2rem;
    border-top: 1px solid #e1e1e180;
}

.creditos h2{
    text-align: center;
    margin-bottom: 1rem;
}

.creditos a{
    color: #f0e6d2;
    text-decoration: none;
    transition: all 0.3s ease;
}

.creditos ul{
    list-style: none;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    font-style: italic;
}

.creditos ul li{
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
}

.creditos ul li:hover{
    transform: scale(1.05);
}

.creditos ul li a:hover{
    font-weight: 700;
}

.creditos ul li strong{
    font-style: normal;
    font-weight: 800;
}